#puzzle-container {
    border: 1px transparent;
    padding: 10px;
    float: left;
    margin: 0px 40px;
    margin-left: 250px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 750px;
    height:446px ;
    background-repeat: no-repeat;
    background-image:url('Game Frame.png');
}
html {
    background-image: url('Game Background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
     min-height: 100%;
  }
  .header-img {
    width: 200px;
    height: 107px;
    margin: 0px auto;
    background: url('Bladders-01.png');
    background-size: cover;
  }
  #footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    margin-left: 10px;
    bottom: 0;
    width: 100%; 
    height: 65px;
    background: url('Janssen Logo-01.png');
    background-repeat: no-repeat;
}
#time{
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    margin-right: 685px;
    width: fit-content;
}
#wins{
    padding: 30px;
    background-color: #5d0668;
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    color: #fff;
}
#wintxt{
    color: #fff;
    font-size: 15px;
   
}
#wintitle{
    color: #fff;
}
#winbtn{
    background-color: rgb(34, 41, 41);
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}
#puzzle-container div {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    
}
/* style for each square in the puzzle */

#puzzle-container .puzzleSquare {
    height: 30px;
    width: 50px;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font: 1.5em sans-serif;
}
#puzzle-container .puzzleSquare:hover{
 background-color: rgb(58, 138, 184);
 
 color: #fff;
}

#puzzle-container button::-moz-focus-inner {
    border: 0;
}
/* indicates when a square has been selected */

#puzzle-container .selected {
    background-color: rgb(209, 160, 0);
    color: #fff;
}
/* indicates that the square is part of a word that has been found */

#puzzle-container .found {
    
    color: white;
    
}



#puzzle-container .solved {
    background-color: purple;
    color: white;
}
/* indicates that all words have been found */

#puzzle-container .complete {
    background-color: rgba(10, 173, 78, 0.733);
}
/**
* Styles for the word list
*/
#puzzle-words {
    padding-top: 40px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 1;
    column-gap: 20px;
    width: 300px;
}

#puzzle-words ul {
    list-style-type: none;
}

#puzzle-words li {
    padding: 4px 0;
    font: 1.3em sans-serif;
    font-weight: bold;
}
/* indicates that the word has been found */

#puzzle-words .wordFound {
    text-decoration: line-through;
    color: rgb(82, 79, 79);
}
/**
* Styles for the button
*/

#solve {
    margin: 0 30px;
}